* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Open Sans";
    font-weight: bold;
}
.examples{
    border: 2px solid;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.answers{
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 20px;
}
.answers .answer{
    width: 200px;
    height: 60px;
    border: 2px solid;
    display: grid;
    place-items: center;
    font-size: 30px;
    transition: 0.3s ease;
}
.answer:active{
    transition: 0.4 s ease;
}
hr{
    width: 100%;
}
.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}
.box {
    width: 60px;
    height: 60px;
    border: 2px solid;
    display: grid;
    place-items: center;
    font-size: 30px;
}

.next-round{
    width: 120px;
    height: 40px;
    transition: 0.3s linear transform;
}
.next-round:active{
    transform: scale(0.95);
}
.next-round:focus-visible{
    outline: none;
}

.specifier{
    text-align: center;
    font-size: 30px;
    margin: 20px;
}
.winner{
    background-color: greenyellow;
}
.not-win{
    background-color: red;
}
.title{
    font-size: 50px;
}